body
	color: white
	margin: 0px
	padding: 0px

#content
	width: 98%
	margin-left: auto
	margin-right: auto


button
	background: black
	color: white
	border-radius: 5px


button[disabled]
	color: gray
	background: #404040
	border-color: #404040

.tab
	float: left
	border: 1px solid
	border-color: gray
	padding: 6px
	margin-right: 3px

.selected_tab
	border: 3px solid
	border-color: green
	padding: 4px

.clearfix:after
	content: " "	/* Older browser do not support empty content */
	visibility: hidden
	display: block
	height: 0
	clear: both

.scroller
	overflow: auto
	position: absolute
	bottom: 0px
	top: 50px
	left: 1%
	right: 1%

.dent
	position: relative
	margin-bottom: 7px
	padding-bottom: 7px
	border-bottom: 1px solid gray

	.avatar
		float: left
		padding: 3px

	.to_icon, .to_name
		margin-right: 5px

	.username
		font-weight: bold
		margin-right: 5px

	.published
		font-size: .7em

#tabs_content
	word-wrap: break-word

	#authenticate
		table
			margin-bottom: 1em

	#new_dent
		table
			width: 100%

			td
				vertical-align: top

			textarea
				width: 100%

