!!! 5
%html
	%head
		%title yozer
		%meta{:charset=>"utf-8"}
		%meta{:content=>'width=device-width, initial-scale=1.0', :name=>'viewport'}
		%link{:rel => :stylesheet, :type => "text/css", :href => "assets/default.css"}
		%link{:rel => "shortcut icon", :href => "assets/favicon.png"}
	%body{:style=>"background-color:black;"}
		#content
			#tabs.clearfix
				%button.tab#dents Dents
				%button.tab#mentions Mentions
				%button.tab#settings Settings
				%button.tab#new_dent	New Dent

			#tabs_content
				.tab_content#dents_content
					#dents_list_wrapper.scroller
						#dents_list

				.tab_content#mentions_content
					#mentions_list_wrapper.scroller
						#mentions_list

				.tab_content#settings_content
					#authenticate
						%table
							%tr
								%td Service:
								%td
									%input{:type=>'text', :name=>'service'}
							%tr
								%td Name:
								%td
									%input{:type=>'text', :name=>'username'}
							%tr
								%td Pass:
								%td
									%input{:type=>'password', :name=>'password'}
							%tr
								%td{:colspan => 2 }
									%button{:name => 'submit'}
										Submit

						.info

							Yozer utilizes
							%a{:href=>'https://en.m.wikipedia.org/wiki/Web_storage'}
								localStorage
							for storing user data.
							%br
							%button{:id=>'clear_localstorage'} Clear Data


				.tab_content#new_dent_content
					#new_dent
						%form#new_dent_form
							#in_reply_to
							%table
								%tr{:id=>'new_dent_reply_to'}
									%td Reply To:
									%td{:id=>'new_dent_reply_to_name'}
								%tr
									%td Dent:
									%td
										%textarea{:name=>'status', :rows=>6}
								%tr
									%td File:
									%td
										%input{:type=>"file", :name=>"attach", :id=>'file_upload'}

						%button{:name => 'submit'}
							Submit

						%button{:name => 'clear'}
							Clear

	//this is a comment
	%script{:type => "text/javascript", :src  => "assets/js/jquery-1.11.2.min.js"}
	%script{:type => "text/javascript", :src  => "assets/js/yozer.js"}
	%script{:type => "text/javascript", :src  => "assets/js/helper.js"}
